.sync-metadata-btn {
    padding: 5px 10px;
    background-color: #417690;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sync-metadata-btn:hover {
    background-color: #2b5173;
}

.sync-metadata-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.sync-status {
    font-size: 14px;
}

.sync-button {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #417690;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.2;
    vertical-align: middle;
}

.sync-button:hover {
    background-color: #2b5172;
}

.sync-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* 调整输入框样式 */
.field-address .vTextField {
    display: inline-block !important;
    width: calc(100% - 120px) !important;
    margin-right: 10px !important;
} 